title{font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;


}


body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    font-size: 24px;



}

h1{margin-left: 700px;
    text-align:justify;
    text-shadow: 2px 2px 2px #b91010;
    text-transform:unset;



}

h2{margin-left: 700px;
    text-align: justify;


}

h3{margin-left: 500px;


}
p{
    color:rgb(174, 20, 20); 
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:justify;
    text-indent:30px;

}


img{text-align: center;
    height: 300px;
    display: flex;
    
}






